
{% extends "../partials/_page.twig" %}

{% block content %}

<main id="content" role="main">
	<div class="container clearfix">
		<div class="term-listing-heading">

			{% set left_nav = {
		      "parent": entities[parent_uuid],
		      "items": entities[parent_uuid].menu
		    } %}
			{% include '../01-Modules/left-nav.twig' %}

			<div class="col-md-9 col-sm-12 rightnav">
				<article>
					<header>
						<h1>{{name}}</h1>
						<p>{{page_intro}}</p>
					</header>
					<section class="infobytpc clearfix row">
						<ul class="dwnlvl">
						{%- for item in child_pages-%}
							<li class="col-md-6 col-xs-12">
							<a href="{{item.friendly_url}}">
								<span class="mocklink">{{item.name}}</span>
								<p>{{item.description_meta}}</p>
							</a>
							</li>
							{%- endfor %}
						</ul>
					</section>

					{% include '../partials/_smshare.twig' %}

					<p class="volver clearfix">
						<a href="#skiptarget">
							<span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a>
					</p>
				</article>
			</div>

		</div>
	</div>
</main>

{% endblock content %}
