
{% extends "partials/_page.twig" %}

{% block content %}

<main id="content" role="main">
	<div class="container usa-grid clearfix">
		<div class="term-listing-heading">

		{% if lang == 'en' %}
		{% set left_nav = {
			"parent": {
				"name": "For Media and Partners",
				"friendly_url": "/media"
			},
			"items": [
				{
					"name": "Features",
					"friendly_url": "/features"
				},
				{
					"name": "Partner with Us",
					"friendly_url": "/partner-with-us"
				},
			]
			} %}
			{% endif %}

			{% if lang == 'es' %}
			{% set left_nav = {
				"parent": {
					"name": "Medios y colaboradores",
					"friendly_url": "/medios"
				},
				"items": [
					{
						"name": "Colabore con nosotros",
						"friendly_url": "/colabore-con-nosotros"
					},
					{
						"name": "Novedades",
						"friendly_url": "/novedades"
					},
				]
				} %}
			{% endif %}

			{% include '01-Modules/left-nav.twig' %}


			{% if type == "text_content_type" %}

			 <!---right container-->
 			<div class="col-md-9 col-sm-12 rightnav">
 			{# begin feature text asset #}

 			<header>
             <h1>{{title}}</h1>
       </header>
				<div id="pipe">
					<div class="by">
						<div class="line">
							<span class="bylinebld">
								Date:
							</span>
							{{created|date("F j, Y")}}
						</div>
					</div>
				</div>

{% if related_multimedia_two %}

<span class="fea-img-cont col-md-6 col-sm-12">
		<figure class="fea-cntntmddl-img">

{% set entity_related_multimedia = related_multimedia_two.uuid %}
{% set entity_related_multimedia = entities[entity_related_multimedia] %}




				<img class="fea-img" src="{{ entity_related_multimedia.file_media.uri }}" alt="{{ entity_related_multimedia.file_media.alt_text }}">

		</figure>
	</span>
{% endif %}


	<div>
{% endif %}
	<p>{{body}}</p>
	</div>
				<p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
	{{ feature_text_template }}
				<div id="featurelist">
					<h2>You might also like&nbsp;&hellip;</h2>



				<ul>
					{%- for item in shares_topic|slice(0, 5) -%}
						<li>
						{% if entities[item.uuid].related_multimedia_two %}
							{% set item_related_multimedia = entities[item.uuid].related_multimedia_two.uuid %}
							{% set item_related_multimedia = entities[item_related_multimedia] %}

								<img src="{{ item_related_multimedia.file_media.uri }}" alt="{{item_related_multimedia.file_media.alt }}" class="rel-img">

						{% endif %}

						<header>
							<h3><a href="{{item.title|friendly_url}}">{{item.title}}</a></h3>
						</header>
						<p class="rel-txt">{{entities[item.uuid].description}}</p>
					</li>
						{%- endfor -%}
					</ul>

			
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6 col-xs-8 col-xs-offset-4">
						<a href="features-landing.html" class="featuremore">
							See More Features
							<span></span>
						</a>
					</div>
				</div>

				{% include 'partials/_smshare.twig' %}

				<p class="volver clearfix">
					<a href="#skiptarget">
						<span class="icon-backtotop-dwnlvl">
							{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}
						</span>
					</a>
				</p>

				{% include '01-Modules/page-survey.twig' %}

			</div>
		</div>
	</div>


</main>
{% endblock content %}
