
{% extends "partials/_page.twig" %}

{% block content %}

<!-- begin skip link target for main content -->
<div class="clearfix">
    <p id="skiptargetholder"> <a id="skiptarget" class="skip" tabindex="-1"></a> </p>
</div>

<!-- end skip link target for main content -->

<!-- [Error] Messages (including DSM statements) will only show to the admin  -->

<main id="content" role="main">
    <div class="container clearfix">

    {% set left_nav = {
  		"parent": {
  			"name": "Government Agencies and Elected Officials",
  			"friendly_url": "/agencies"
  		},
  		"items": [
  			{
  				"name": "A-Z Index of U.S. Government Agencies",
  				"friendly_url": "/federal-agencies/a"
  			},
  			{
  				"name": "Branches of Government",
  				"friendly_url": "/branches-of-government"
  			},
  			{
  				"name": "Contact Government by Topic",
  				"friendly_url": "/contact-by-topic"
  			},
  			{
  				"name": "Elected Officials",
  				"friendly_url": "/elected-officials"
  			},
  			{
  				"name": "State, Local, and Tribal Governments",
  				"friendly_url": "/state-tribal-governments"
  			}
  		]
  	} %}

    {% include '01-Modules/left-nav.twig' %}


<!---right container-->
<div class="col-md-9 rightnav clearfix">


<article>
<header>
    <h1>{{title}}</h1>
    <p>{{description}}</p>
</header>
<header>
    <h2>Agency Details</h2>
</header>
    {%- set odd_row = true %}

    {% if acronym %}
    <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
            <h3  class="org">Acronym:</h3>
        </header>
        <p>{{acronym}}</p>
    </section>
    {%- set odd_row = not odd_row %}
    {%- endif -%}

    {% if website_links %}
    <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
            <h3  class="org">Website:</h3>
        </header>
        {{website_links}}
    </section>
    {%- set odd_row = not odd_row %}
    {%- endif -%}

    {% if contact_links %}
    <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
            <h3  itemprop="name">Contact:</h3>
        </header>
        {{contact_links}}
    </section>
    {%- set odd_row = not odd_row %}
    {%- endif -%}

    {% if street_1 and city and state and zip %}
        <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
            <header>
                <h3  itemprop="name">Main Address:</h3>
            </header>
            {#
            <p class="spk street-address">
                1500 Pennsylvania <abbr title="Avenue">Ave.</abbr>, NW
                <br>
                <span class="locality">Washington</span>,
                <span class="region">DC</span>
                <span class="postal-code">20220</span>
            </p>
            #}
            <p class="spk street-address">
                {{street_1}}
                <br>
                {% if street_2 %}
                {{street_2}}
                <br>
                {%- endif -%}
                <span class="locality">{{city}}</span>,
                <span class="region">{{state}}</span>
                <span class="postal-code">{{zip}}</span>
            </p>
        </section>
        {%- set odd_row = not odd_row %}
    {%- endif -%}

    {% if tty_number %}
    <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
            <h3  itemprop="name">TTY Number:</h3>
        </header>
        <p><a href="tel:{{ tty_number|replace({"-":""}) }}">{{ tty_number }}</a></p>
    </section>
    {%- set odd_row = not odd_row %}
    {%- endif -%}

    {% if phone_number %}
    <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
            <h3  itemprop="name">Phone Number:</h3>
        </header>
        <p><a href="tel:{{ phone_number|replace({"-":""}) }}">{{ phone_number }}</a></p>
    </section>
    {%- set odd_row = not odd_row %}
    {%- endif -%}

    {% if link_form_links %}
    <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
            <h3  itemprop="name">Forms:</h3>
        </header>
        <p><a href="{{ link_form_links.url }}">{{ link_form_links.title }}</a></p>
    </section>
    {%- set odd_row = not odd_row %}
    {%- endif -%}

    {% if government_branch %}
    <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
            <h3  class="org">Government branch:</h3>
        </header>
        <p>{{government_branch}}</p>
    </section>
    {%- set odd_row = not odd_row %}
    {%- endif -%}

<p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>

    {% if top_task %}
    <section>
        <header>
            <h2>Popular Services from {{title}}</h2>
        </header>
        {{top_task}}
    </section>

    <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>
    {%- endif -%}

    <section>
        <header>
            <h2 id="">Parent Agency</h2>
        </header>
        <ul>
            <li><a href="White-House">White House</a></li>
        </ul>
    </section>

{% if child_records_en %}
    <section>
        <header>
            <h2 id="">Related Agency</h2>
        </header>

          <ul>

          {% if child_records_en.uuid %}
            {% set child_list = entities[child_records_en.uuid] %}
              <li><a href="{{ child_records_en.link_form_links.url }}">{{ child_records_en.link_form_links.title }}</a></li>
          {% else %}
            {% for child_list in child_records_en %}
              {% set child_list = entities[child_list.uuid] %}
              {% if child_list.link_form_links != null %}
              <li><a href="{{ child_list.link_form_links.url }}">{{ child_list.link_form_links.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}
          </ul>
    </section>
{% endif %}

    <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>
</article>

{% include 'partials/_smshare.twig' %}

{% include '01-Modules/page-survey.twig' %}

</div>

    </div>
  </main>

{% endblock content %}
