
{% extends "_partials_page.twig" %}

{% block content %}

<main id="content" role="main">
  <div class="container usa-grid clearfix">

    {% set left_nav = {
      "parent": entities[parent_uuid],
      "items": entities[parent_uuid].menu
    } %}
    {% include '_modules_left-nav.twig' %}


  <!---right container-->
  <div class="col-md-9 col-sm-12 rightnav">
    <header>
		<h1 id="">{{ page_title }}</h1>
    	<p>{{ page_intro }}</p>
    </header>

{% if asset_order_content | length > 1 %}


    {% set whats_on_this_page = [] %}
    {% for item in asset_order_content %}
      {% set entity = entities[item.uuid] %}
      {% set wotp_item = { "name": entity.title, "id": entity.nid } %}
      {% set whats_on_this_page = whats_on_this_page|merge([wotp_item]) %}
    {% endfor %}
    {% include '_modules_whats-on-this-page.twig' %}

{% endif %}

{# begin What's New asset #}
{% if whats_new %}

<div id="featurebox">
      <header>
        <h2>What's New</h2>
      </header>
      <ul>



    {% if whats_new.uuid %}
      {% set whats_new_item = entities[whats_new.uuid] %}

      <li>
        {% if whats_new_item.related_multimedia_two %}
          {% set entity_related_multimedia = whats_new_item.related_multimedia_two.uuid %}
          {% set entity_related_multimedia = entities[entity_related_multimedia] %}
            <img src="{{ entity_related_multimedia.file_media.uri }}" alt="{{ entity_related_multimedia.alt_text }}" class="rel-img">
        {% endif %}
      <header>
        <h3><a href="{{ whats_new_item.title|friendly_url }}"> {{ whats_new_item.title }} </a></h3>
      </header>
          <p class="rel-txt"> {{ whats_new_item.description }} </p>
        </li>
    {% else %}
      {% for whats_new_item in whats_new %}
        {% set whats_new_item = entities[whats_new_item.uuid] %}

        <li>
        {% if whats_new_item.related_multimedia_two %}
          {% set entity_related_multimedia = whats_new_item.related_multimedia_two.uuid %}
          {% set entity_related_multimedia = entities[entity_related_multimedia] %}
            <img src="{{ entity_related_multimedia.file_media.uri }}" alt="{{ entity_related_multimedia.alt_text }}" class="rel-img">
        {% endif %}
      <header>
        <h3><a href="{{ whats_new_item.title|friendly_url }}"> {{ whats_new_item.title }} </a></h3>
      </header>
          <p class="rel-txt"> {{ whats_new_item.description }} </p>
        </li>

      {% endfor %}


    {% endif %}



      </ul>
  </div>

{% endif %}

{# end What's New asset #}

    {# begin Infographic asset #}
    {% for item in asset_order_content %}
    {% set entity = entities[item.uuid] %}
    {% set content_type = entity.type %}
    {% set infographic_template %}

    {% if content_type == "multimedia_content_type" and entity.media_type == "Infographic" %}

    <article>
	<header>
      <h2 id="{{ entity.nid }}">{{ entity.title }}</h2>
	</header>
      <p> {{ entity.description }} </p>
      <div class="fea-cntntmddl-img">
            <img src="{{ entity.file_media.uri }}" alt="{{ entity.alt_text }}">
      </div>

      <p class="lnk-icon">
            <img src="/sites/all/themes/usa/images/Icon_New_Screen.png" width="30" height="26" alt="{{ entity.alt_text }}">
            <a href="{{ entity.high_res_version }}" onmousedown="_sendEvent('Outbound Downloads','pdf','{{ entity.high_res_version }}',0);" id="usorg1" class="lnk-media-altered">
            View a larger version of the infographic.
            </a> (<span aria-labelledby="usorg1" aria-describedby="usorg1">PDF, <a href="https://get.adobe.com/reader/">Download Adobe Reader</a></span>)
      </p>

      <div class="clearfix">
        <article>
          <ul class="usa-accordion-bordered">
            <li class="transcript_img">
            <button class="usa-accordion-button" data-toggledtext="Hide Description of Infographic" data-initialtext="Show Description of Infographic" aria-expanded="false" aria-controls="infograph-b-212761">Show Description of Infographic
            </button>
            <div id="infograph-b-212761" class="usa-accordion-content" aria-hidden="true"><p>{{ entity.transcript }}</p></div>
            </li>
        </ul>
        </article>
      </div>

      <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>
    </article>
    {% endif %}
    {% endset %}
    {{ infographic_template }}
    {# end Infographic asset #}

    {# begin video asset #}
    {% set video_template %}
    {% set content_type = entity.type %}
    {% if content_type == "multimedia_content_type" and entity.media_type == "Video" %}
    <article>
	   <header>
        <h2 id="{{ entity.nid }}">{{ entity.title }}</h2>
	  </header>

    <p>{{ entity.description }}</p>

    <div class="embed">
        {{ entity.embed_code }}
   </div>
   <article>
   <ul class="usa-accordion-bordered">
      <li class="transcript_img">
      <button class="usa-accordion-button" data-toggledtext="Hide the Video Transcript" data-initialtext="Show the Video Transcript" aria-expanded="false" aria-controls="amendment-b-212808">Show the Video Transcript</button>
       <div id="amendment-b-212808" class="usa-accordion-content" aria-hidden="true">
        {{ entity.transcript }}
        </div>
        </li>
    </ul>
  </article>

   <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>
    </article>
    {% endif %}
    {% endset %}
    {{ video_template }}
    {# end video asset #}

    {# begin text asset #}
    {% set text_template %}
    {% set content_type = entity.type %}
    {% if content_type == "text_content_type" %}
    <article>
	   <header>
        <h2 id="{{ entity.nid }}">{{ entity.title }}</h2>
	  </header>

    {% if entity.related_multimedia_two %}
    <span class="fea-img-cont col-md-6 col-sm-12">
      {% set entity_related_multimedia = entity.related_multimedia_two.uuid %}
      {% set entity_related_multimedia = entities[entity_related_multimedia] %}

        <img class="fea-img" src="{{ entity_related_multimedia.file_media.uri }}" alt="{{ entity_related_multimedia.file_media.alt }}">

    </span>
    {% endif %}

    {{ entity.body }}



   <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>
    </article>

  {% endif %}
    {% endset %}
      {{ text_template }}

      {% if content_type == "html_content_type" %}
      <header>
         <h2 id="{{ entity.nid }}">{{ entity.title }}</h2>
 	    </header>

      {{ entity.html|raw }}
      {% endif %}


    {% endfor %}

    {# end text asset #}


			{% include '_partials_smshare.twig' %}


        <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>
    </article>

    {% include '_modules_do-you-need-help.twig' %}

    <h2 id="pagesurvey-hdr">What you think matters!</h2>
    <div id="pagesurvey-trgt">
    </div>
    <div id="pagesurvey-ombnum"><a href="/notices">Form Approved OMB#0000-000 Exp. Date X/XX/XXXX</a></div>
    <noscript> <iframe src="http://survey.usa.gov/surveys/251"></iframe> </noscript>
    <script type="text/javascript" src="http://survey.usa.gov/widget/widget.js?survey_id=251&target_id=pagesurvey-trgt"></script>
  </div>
  </div>
</main>


{% endblock content %}
