
{% extends "_partials_page.twig" %}

{% block content %}
	<main id="content" role="main">
		<div class="container clearfix usa-grid">
			<article>
				<header>
					<h1 id="">{{name}}</h1>
				</header>
				<div class="usa-grid-full topic-nav">
			  	<div class="usa-width-two-thirds topic-nav-box1">
			     	<div class="topic-nav-photo topic-nav-photo-{{css_class}}"></div>

			   		<div class="topic-nav-tagline">
			 			<span class="topic-nav-{{css_class}}"><p>{{page_intro}}{#OR meta_description#}</p></span>
			     	</div>
			  	</div>

			  	<div class="usa-width-one-third how-do-i-topic" >
			  		<h2>How do I ...</h2>
			  		{% set how_do_i_uuid = asset_order_content[0].uuid %}
			  		{{ entities[ how_do_i_uuid ].body|raw }}
			  	</div>
			  </div>
				<section class="infobytpc clearfix row">
					<ul class="dwnlvl">

						{%- for item in child_pages-%}
						<li class="col-md-4 col-sm-6 col-xs-12">
							<a href="{{item.friendly_url}}">
								<span class="mocklink">{{item.name}}</span>
								<p>{{item.description_meta}}</p>
							</a>
						</li>
						{%- endfor %}

					</ul>
				</section>
				<div class="usa-grid explore-topics">
	      	<p><a href="">Explore All Topics and Services on USA.gov</a></p>
	      </div>
				{% include '_partials_smshare.twig' %} {# TODO: inject page data into share template #}
				<p class="volver clearfix">
					<a href="#skiptarget">
						<span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span>
					</a>
				</p>
			</article>
		</div>

	</main>

{% endblock content %}
