
{% extends "partials/_page.twig" %}

{% block content %}

<main id="content" role="main">
	<div class="container clearfix">
		<div class="term-listing-heading">

			<article>
				<header>
					<h1>{{name}}</h1>
					<p>{{meta_description}}</p>
				</header>
				<section class="infobytpc clearfix row">
					<ul class="topics">
			{%-for item in child_pages-%}
			<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="{{item.friendly_url}}" class="infobytpc topic-{{item.css_class}}">
									<span class="mocklink">{{item.name}}</span>
									<p>{{item.description_meta}}</p>
								</a>
					</li>
				{%- endfor %}
				{#	{%-for item in children|merge(also_include_on_nav_page)-%}
				<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="{{item.entity.friendly_url}}" class="infobytpc topic-{{item.entity.css_class}}">
										<span class="mocklink">{{item.entity.name}}</span>
										<p>{{item.entity.page_intro}}</p>
									</a>
						</li>
				{%- endfor %}

						<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/benefits-grants-loans" class="topic-benefit">
									<span class="mocklink">Benefits, Grants, Loans</span>
									<p>Learn about government programs that provide financial help for individuals and organizations.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/disasters-and-emergencies" class="topic-bullhorn">
									<span class="mocklink">Disasters and Emergencies</span>
									<p>Learn how to prepare for and recover from disasters and emergencies.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/earth-and-environment" class="topic-plant">
									<span class="mocklink">Earth and the Environment</span>
									<p>Find government information on energy, green technology, pollution, wildlife, and more.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/education" class="topic-cap">
									<span class="mocklink">Education</span>
									<p>Find government information on education including primary, secondary, and higher education.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/agencies" class="topic-agencies">
									<span class="mocklink">Government Agencies and Elected Officials</span>
									<p>Find contact information for federal, state, and local government agencies and elected officials.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/health" class="topic-heart">
									<span class="mocklink">Health</span>
									<p>Find health resources from the government.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/housing" class="topic-mortgage">
									<span class="mocklink">Housing</span>
									<p>Get information and services to help with finding and keeping a home.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/jobs-and-unemployment" class="topic-job">
									<span class="mocklink">Jobs and Unemployment</span>
									<p>Find out how and where to look for a new job or career, get help if you are unemployed, and more.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/laws" class="topic-scales">
									<span class="mocklink">Laws and Legal Issues</span>
									<p>Learn how to report a crime, locate a federal inmate, research common U.S. laws, and file a complaint against the government.
									</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/military-and-veterans" class="topic-medal">
									<span class="mocklink">Military and Veterans</span>
									<p>Learn more about help for veterans and service members, joining the military, and more.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/money" class="topic-tax">
									<span class="mocklink">Money and Consumer Issues</span>
									<p>Learn about consumer issues, taxes, unclaimed money, buying from the government, and more more.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/business" class="topic-busa">
									<span class="mocklink">Small Business</span>
									<p>Learn the steps to start a small business, get financing help from the government, and more.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/travel-and-immigration" class="topic-globe">
									<span class="mocklink">Travel and Immigration</span>
									<p>Learn about visiting, traveling within, and moving to the United States.</p>
								</a>
							</li>
							<li class="col-md-4 col-sm-6 col-xs-12">
								<a href="/voting" class="topic-ballot">
									<span class="mocklink">Voting and Elections</span>
									<p>Find answers to common questions about voting in the United States.</p>
								</a>
							</li>#}


					</ul>
				</section>

				{% include 'partials/_smshare.twig' %}
				<p class="volver clearfix">
					<a href="#skiptarget">
						<span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a>
				</p>
			</article>
    </div>
  </div>
</main>

{% endblock content %}
