
{% extends "partials/_page.twig" %}

{% block content %}

<main id="content" role="main">
    <div class="container clearfix">

  {% include '01-Modules/left-nav.twig' %}

<!---right container-->
<div class="col-md-9 rightnav clearfix">

<header>
          <h1>{{state_details.title}}</h1>

          <p>Primary contact information along with key agencies and offices for the government of {{state_details.title}}</p>
    </header>

<div class="wotp">
  <header>
    <h2>What's on This Page</h2>
  </header>
  <div class="clearfix">
    <ul>
              <li>
          <a href="#state-government" onclick="document.getElementById('state-government').focus();">State Government</a>
        </li>
                          <li>
          <a href="#state-agencies" onclick="document.getElementById('state-agencies').focus();">State Agencies</a>
        </li>
          </ul>
  </div>
</div>





  <article>

    <header>
      <h2 id="state-government">State Government</h2>
    </header>
      {%- set odd_row = true %}

      {% if state_details.state_homepage.url and state_details.title %}
          <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
          <h3 itemprop="name">Official Name:</h3>
        </header>
        <p>
                  <a href="{{state_details.state_homepage.url}}">
                  {{state_details.title}}                  </a>
                </p>
      </section>
      {%- set odd_row = not odd_row %}
      {%- endif -%}

      {% if state_details.governor_contact.url and state_details.governor %}
              <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
          <h3 class="org">Governor:</h3>
        </header>
        <p>
                  <a href="{{state_details.governor_contact.url}}">
                {{state_details.governor}}                  </a>
                </p>
      </section>
      {%- set odd_row = not odd_row %}
      {%- endif -%}

      {% if street_1 and city and state and zip %}
                      <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
          <h3 itemprop="name">Main Address:</h3>
        </header>
            <p>{{street_1}}<br><span class="locality">{{city}}</span>, <span class="region">{{state}}</span>, <span class="postal-code">{{zip}}</span></p>
      </section>
      {%- set odd_row = not odd_row %}
      {%- endif -%}

      {% if phone_number %}
              <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
          <h3 itemprop="name">Phone Number:</h3>
        </header>
        <p class="spk tel"><a href="tel:{{phone_number}}">{{phone_number}}</a></p>
      </section>
      {%- set odd_row = not odd_row %}
      {%- endif -%}

      {% if toll_free_number %}
              <section itemscope="" itemtype="http://microformats.org/wiki/hCard" class="{{odd_row ? 'otln' : 'otlnrw'}}">
        <header>
          <h3 class="org">Toll Free:</h3>
        </header>
        <p class="spk tel"><a href="tel:{{toll_free_number}}">{{toll_free_number}}</a></p>
      </section>
      {%- set odd_row = not odd_row %}
      {%- endif -%}

          <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>

        <section>
      <header>
        <h2 id="state-agencies">State Agencies</h2>
      </header>
      <ul>
        {% if state_details.attorney_general != null %}
        <li><a href="{{state_details.attorney_general.url}}">Attorney General</a></li>
        {% endif %}

        {% if state_details.consumer_protection_office != null %}
        <li><a href="{{state_details.consumer_protection_office.url}}">Consumer Protection Offices</a></li>
        {% endif %}

        {% if state_details.corrections_department != null %}
        <li><a href="{{state_details.corrections_department.url}}">Corrections Department</a></li>
        {% endif %}

        {% if state_details.education_department != null %}
        <li><a href="{{state_details.education_department.url}}">Education Department</a></li>
        {% endif %}

        {% if state_details.emergency_management_agenc != null %}
        <li><a href="{{state_details.emergency_management_agenc.url}}">Emergency Management Agency</a></li>
        {% endif %}

        {% if state_details.election_office != null %}
        <li><a href="{{state_details.election_office.url}}">Election Office</a></li>
        {% endif %}

        {% if state_details.lottery_results != null %}
        <li><a href="{{state_details.lottery_results.url}}">Lottery Results</a></li>
        {% endif %}

        {% if state_details.motor_vehicle_offices != null %}
        <li><a href="{{state_details.motor_vehicle_offices.url}}">Motor Vehicle Offices</a></li>
        {% endif %}

        {% if state_details.surplus_property_sales != null %}
        <li><a href="{{state_details.surplus_property_sales.url}}">Surplus Property Sales</a></li>
        {% endif %}

        {% if state_details.travel_tourism != null %}
        <li><a href="{{state_details.travel_tourism.url}}">Travel and Tourism</a></li>
        {% endif %}

        {% if state_details.social_services != null %}
        <li><a href="{{state_details.social_services.url}}">Social Services</a></li>
        {% endif %}
      </ul>
    </section>
    <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span></a></p>


  </article>

{% include 'partials/_smshare.twig' %}

{% include '01-Modules/page-survey.twig' %}

</div>


    </div>
  </main>

{% endblock content %}
